<div class="background d-flex align-items-center justify-content-center">
    <div class="container d-flex align-items-center justify-content-center rounded shadow-lg">
        <div class="row align-items-start">
            <img class="col" src=".../imagenes/LogoLogin.png" alt=" logo imagen">
        </div>
        
        <div class="row align-items-center">
            
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>
</div>
