:root {
  --templa-brown: #755143;
  --templa-beige: #F4EADD; 
  --templa-gold: #d2a46d;
  --templa-dark-green: #696848;
  --templa-green: #84C473;
  --templa-black: #1E1E1E;

  --templa-font-title: 'Amethysta';
  --templa-font-text: 'Amiko'; 
}